.menu {
    background: #4E2E8A;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    position: absolute;
    width: 411px;
    height: 84px;
    left: 0px;
    right: 0px;
}

.title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    margin-top: 41px;
    margin-bottom: 21px;
}

.sesi-card {
    margin-top: 64px;
}

.promo {
    width: 328px;
    height: 200px;
    background-color: aqua;
    border-radius: 10px;
    margin-left: 26px;
    margin-right: 16px;
    margin-bottom: 24px;
}